
// Variaveis Globais
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$link-color: #0105D3;
$text-color-input-style: #090909;

$bg-btn-style: #000C8C;
$bg-primary-color: #ffffff;
$bg-linear-login: linear-gradient(180deg, #001C78 38%, #0105D3 100%);
$bg-input-style: #000c8c36;
$bg-color-typeCode: #C2C2C2;


%variables-theme {
  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};
  --link-color: #{$link-color};
  --text-color-input: #{$text-color-input-style};
  --bg-btn-style: #{$bg-btn-style};
  --bg-primary-color: #{$bg-primary-color};
  --bg-linear-login: #{$bg-linear-login};
  --bg-input-style: #{$bg-input-style};
  --bg-color-typeCode: #{$bg-color-typeCode};

  --btn-text-color: #{$secondary-text-color};
}

:root[data-theme="light"] {
  @extend %variables-theme;
}

:root[data-theme="dark"] {
  $primary-text-color: #F1F1F1;
  $text-color-input-style: #ffffff;
  $link-color: #00ADFF;
  $bg-btn-style: #0666A1;
  $bg-primary-color: #021422;
  $bg-color-typeCode: #ffffff;

  --primary-text-color: #{$primary-text-color};
  --text-color-input: #{$text-color-input-style};
  --link-color: #{$link-color};
  --bg-btn-style: #{$bg-btn-style};
  --bg-input-style: #{$bg-input-style};
  --bg-primary-color: #{$bg-primary-color};
  --bg-color-typeCode: #{$bg-color-typeCode};
  @extend %variables-theme;
}

$font-sizes: (
  xsmall-text: 0.6rem,
  small-text: 0.8rem,
  medium-text: 1rem,
  large-text: 1.5rem,
  xlarge-text: 2rem,
  xxlarge-text: 2.5rem
);

$text-aligns: (
  align-center: center,
  align-start: start,
  align-end: end,
  align-justify: justify,
  align-left: left,
  align-right: right,
);


$breakpoints: (
  xsmall: 0px,
  small: 576px,
  medium: 769px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
);

$typograph: (
  xsmall: 1.3rem,
  small: 1.5rem,
  medium: 5rem,
  large: 1.5rem,
  xlarge: 1.5rem,
  xxlarge: 1.5rem,
);
