@use '../abstracts' as *;

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 769px){
        flex-direction: row;
    }
}

main{
    max-height: 100%;
    max-width: 100%;
}

a{
 color: var(--link-color);   
 
    &:hover{
        opacity: .7;
    }

    &:active{
        filter: saturate(2);
        opacity: 1;
    }
}


