@use '../abstracts/' as *;
@use '../at-rule/' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primary-text-color);
}

#toggle-theme {font-size: 2.4rem;}

a {color: var(--link-color);}

.newPass {
    &__input {@include fontSize(xsmall)}
    &__text {font-size: 3rem;}
}


//                  Login Pages
@include media-break-min-width(xsmall) {
    .password__container {.field__eye {color: #000000;}}

    a{@include fontSize(xsmall)}
    //inputs
    .btn__style {@include fontSize(xsmall)}
    .btn2__style {font-size: 1.1rem;}
    .field__style {font-size: 1.6rem;}
    .chech__area{@include fontSize(xsmall)}

    .login__text {@include fontSize(xsmall)}

    .confirmEmail__text{font-size: 2rem}
    
    .createAcc__title {font-size: 1.9rem;}
    .createAcc__text {font-size: 1.2rem;}
    //login-a-index
    #forget__link{@include fontSize(xsmall)}
    .label__style{font-size: 1.5rem}


    .typeCode__input {@include fontSize(small); color: var(--bg-btn-style);}
    .typeCode__title{font-size: 1.6rem;}
    .typeCode__paragraph{font-size: .8rem;}
}

@include media-break-min-width(small) {
    .btn__style {@include fontSize(small)}
    a{font-size: 1.4rem}

    .createAcc__title {font-size: 2.4rem;}
    .createAcc__text {font-size: 1.4rem;}
}

@include media-break-min-width(medium) {
    .btn2__style {@include fontSize(xsmall)}
    .header__container{
        .header__title{@include fontSize(xsmall)}
        .header__subtitle{@include fontSize(xsmall)}
    }
    //login-a-index
    .footer__link{@include fontSize(xsmall)}

    //createAcc
    .link__logo{@include fontSize(xsmall);}
    .createAcc__title{font-size: 1.7rem;}

    .typeCode__title{font-size: 2.3rem;}
    .typeCode__paragraph{font-size: 1rem;}
}

@include media-break-min-width(large) {
    //createAcc
    .link__logo{font-size: 1.4rem;}
}

@include media-break-min-width(xlarge) {
    a{font-size: 1.6rem;}
    //createAcc
    .link__logo{font-size: 1.5rem;}

    .typeCode__title{font-size: 2.8rem;}
    .typeCode__paragraph{font-size: 1.2rem;}
}

@media screen and (max-height: 855px){
    .field__style {font-size: 1.2rem;}
    .createAcc__title{font-size: 2rem;}

    .typeCode__title{font-size: 1.8rem;}
    .typeCode__link{font-size: 1.4rem;}
}

//                  Initial Pages
@include media-break-min-width(xsmall){}

@include media-break-min-width(small){}

@include media-break-min-width(medium){}

@include media-break-min-width(large){}

@include media-break-min-width(xlarge){}

//                  Menu Pages
@include media-break-min-width(xsmall){}

@include media-break-min-width(small){}

@include media-break-min-width(medium){}

@include media-break-min-width(large){}

@include media-break-min-width(xlarge){}
