@use '../abstracts' as *;

.btn {
    &__style {
        border: none;
        padding: .6rem;
        background-color: var(--btn-bg-style);
        color: var(--btn-text-color);
    }

    &:hover {
        cursor: pointer;
        opacity: .8;
    }
}

#toggle-theme {
    padding: 1rem;
    position: relative;
    left: -1rem;
    max-width: 4rem;
    align-self: flex-end;
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }

}