@use '../abstracts' as *;

.btn__style{
    border: none;
    padding: .6rem;
    background-color: var(--btn-bg-style);
    color: var(--btn-text-color);
}

.btn:hover{
    cursor: pointer;
}

#toggle-theme{
    position: relative;
    width: 100vw;
    top: 0rem;
    font-size: 2.4rem;
    right: 0;
    display: flex;
    padding: .8rem 0.8rem 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    &:hover{
        opacity: .8;
        cursor: pointer;
    }

    @media screen and (min-width: 769px){
        padding: 2rem 2rem 0 0;
        font-size: 2rem;
        top: 0;
    }
}