@use '../abstracts' as *;
@use '../at-rule/' as *;

.btn {
    transition: 40ms ease-in-out;

    &__style {
        border: none;
        padding: .8rem;
        background-color: var(--bg-btn-style);
        color: var(--btn-text-color);

    }

    &:hover {
        box-shadow: 1px 1px 10px rgba(0, 89, 255, 0.233),
            -1px -1px 10px rgba(0, 89, 255, 0.233);
        cursor: pointer;
        filter: brightness(1);
        transform: scale(1.01);

    }
}

.btn2 {
    &__style {
        border: none;
        padding: .8rem;
        background-color: var(--link-color);
        color: var(--btn-text-color);
    }

    &:hover {
        box-shadow: 1px 1px 10px rgba(0, 89, 255, 0.233),
            -1px -1px 10px rgba(0, 89, 255, 0.233);
        cursor: pointer;
        transform: scale(1.01);
    }
}

#toggle-theme {
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    max-width: 4rem;
    align-self: flex-end;
    justify-self: flex-end;
    z-index: 10;

    @include displayFlex(row, flex-end, center);
    flex-wrap: nowrap;

    &:hover {
        opacity: .8;
        cursor: pointer;
    }

    @include media-break-min-width(medium) {
        grid-area: topRight;
    }
}