@use '../abstracts/' as *;
@use '../at-rule/' as *;

.content-login {
    @include displayFlex(null, center, center);
    flex-direction: column;
    max-height: 100%;

    @include media-break-min-width(medium) {
        // padding: 2rem;
        width: 50vw;
        height: 100vh;

        display: grid;
        place-content: center;
        place-items: center;
        grid-template-columns: repeat(2, 25vw);
        grid-template-rows: 15% 85%;
        grid-template-areas:
            "topLeft topRight"
            "main main";
    }

    @include media-break-min-width(xxlarge) {
        width: 60vw;
    }
}