@use '../abstracts/' as *;
@use '../at-rule/' as *;

//inputs
.field__style {
    border: none;
    padding: .8rem;
    background-color: var(--bg-input-style);

    &::placeholder {
        color: var(--text-color-input);
    }

    &:hover {
        box-shadow: inset -.5px -.5px 3px var(--bg-btn-style), inset .5px .5px 3px var(--bg-btn-style);
        filter: brightness(1.1);
    }

    &:focus {
        filter: brightness(1.1);
    }

    @include media-break-min-width(xsmall){
        padding: 1.1rem;
    }

    @include media-break-min-width(small){
        padding: 1rem;
    }

    @include media-break-min-width(medium){
        padding: .75rem;
    }
}

//input password 
.password__container {
    position: relative;
    @include displayFlex(null, center, center);

    .field__eye {
        color: #000000;
        position: absolute;
        // right: .5rem;
        opacity: .5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    @include media-break-min-width(xsmall) {
        .field__eye {
            right: 2.1rem;
        }
    }

    @include media-break-min-width(small) {
        .field__eye {
            right: .5rem;
        }
    }
}