@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root[data-theme=dark], :root[data-theme=light] {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --link-color: #0105D3;
  --text-color-input: #090909;
  --bg-btn-style: #000C8C;
  --bg-primary-color: #ffffff;
  --bg-linear-login: linear-gradient(180deg, #001C78 38%, #0105D3 100%);
  --bg-input-style: #D9D9D9;
  --bg-color-typeCode: #C2C2C2;
  --btn-text-color: #ffffff;
}

:root[data-theme=dark] {
  --primary-text-color: #F1F1F1;
  --link-color: #00ADFF;
  --bg-btn-style: #0666A1;
  --bg-primary-color: #021422;
  --bg-color-typeCode: #ffffff;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.xsmall-text {
  font-size: 0.6rem;
}

.small-text {
  font-size: 0.8rem;
}

.medium-text {
  font-size: 1rem;
}

.large-text {
  font-size: 1.5rem;
}

.xlarge-text {
  font-size: 2rem;
}

.xxlarge-text {
  font-size: 2.5rem;
}

.align-center {
  text-align: center;
}

.align-start {
  text-align: start;
}

.align-end {
  text-align: end;
}

.align-justify {
  text-align: justify;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

@media screen and (min-width: 769px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .content-login {
    height: 100vh;
  }
  .logo__container {
    top: -10rem;
    width: 50vw;
  }
  #toggle-theme {
    font-size: 2rem;
  }
  .content-login-createAcc {
    width: 50vw;
  }
}
@media screen and (min-height: 576px) {
  .theme__icon {
    z-index: 10;
    top: 4rem;
    left: -1rem;
    padding: 1rem;
  }
}
@media screen and (min-height: 769px) and (min-width: 992px) {
  .logo__container {
    height: 4rem;
    top: -10rem;
  }
  .logo__container img {
    top: -4rem;
  }
  #toggle-theme {
    z-index: 10;
    top: -6rem;
  }
}
@media screen and (min-width: 300px) and (max-height: 576px) {
  #toggle-theme {
    top: 0;
  }
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  background-color: var(--bg-primary-color);
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

main {
  max-height: 100vh;
  max-width: 100vw;
}

a:hover {
  opacity: 0.7;
}
a:active {
  filter: saturate(2);
  opacity: 1;
}

html {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-text-color);
}

#toggle-theme {
  font-size: 2.4rem;
}

.field__style::placeholder {
  color: var(--text-color-input);
}

.password__container .field__eye {
  color: #000000;
}

a {
  color: var(--link-color);
}

.typeCode__link {
  text-decoration: none;
}

.newPass__input {
  font-size: 1.3rem;
}
.newPass__text {
  font-size: 3rem;
}

.login__text {
  font-size: 1.3rem;
}

@media screen and (min-width: 0px) {
  .field__style {
    font-size: 1.3rem;
  }
  .btn__style {
    font-size: 1.3rem;
  }
  a {
    font-size: 1.3rem;
  }
  .chech__area {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 576px) {
  .field__style {
    font-size: 1.5rem;
  }
  .btn__style {
    font-size: 1.5rem;
  }
  a {
    font-size: 1.5rem;
  }
}
.btn__style {
  border: none;
  padding: 0.8rem;
  background-color: var(--bg-btn-style);
  color: var(--btn-text-color);
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn2__style {
  border: none;
  padding: 0.8rem;
  background-color: var(--link-color);
  color: var(--btn-text-color);
}
.btn2:hover {
  cursor: pointer;
  opacity: 0.8;
}

#toggle-theme {
  margin: 1rem 1rem 0 0;
  padding: 1rem;
  max-width: 4rem;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
#toggle-theme:hover {
  opacity: 0.8;
  cursor: pointer;
}

.field__style {
  border: none;
  padding: 0.8rem;
  background-color: var(--bg-input-style);
}
.field__style::placeholder {
  color: var(--text-color-input);
}
.field__style:hover {
  box-shadow: inset -0.5px -0.5px 3px var(--bg-btn-style), inset 0.5px 0.5px 3px var(--bg-btn-style);
  filter: brightness(1.1);
}
.field__style:focus {
  filter: brightness(1.1);
}
@media screen and (min-width: 0px) {
  .field__style {
    padding: 1.1rem;
  }
}
@media screen and (min-width: 576px) {
  .field__style {
    padding: 1rem;
  }
}

.password__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password__container .field__eye {
  color: #000000;
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
}
.password__container .field__eye:hover {
  opacity: 1;
}
@media screen and (min-width: 0px) {
  .password__container .field__eye {
    right: 2.1rem;
  }
}
@media screen and (min-width: 576px) {
  .password__container .field__eye {
    right: 0.5rem;
  }
}

.logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo__container .login__logo {
  width: 12rem;
  z-index: -3;
}
.logo__container .link__logo {
  max-width: 100%;
  justify-self: flex-end;
  position: relative;
  top: -4rem;
  right: 2rem;
}
@media screen and (min-width: 0px) {
  .logo__container {
    z-index: -1;
    width: 100vw;
    max-width: 94%;
  }
}
@media screen and (min-width: 576px) {
  .logo__container {
    position: relative;
    width: 100vw;
    max-width: 94%;
  }
}

.content-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
}
@media screen and (min-width: 769px) {
  .content-login {
    width: 50vw;
    height: 100vh;
  }
}

.header__login {
  width: 100vw;
  max-width: 100%;
  height: 35vh;
  padding: 2rem;
  z-index: -2;
  background-image: url(../img/img-bg-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__login::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  height: 35vh;
  opacity: 0.75;
  background: var(--bg-linear-login);
}
@media screen and (max-height: 550px) {
  .header__login {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .header__login {
    width: 50vw;
    height: 100vh;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  }
  .header__login::before {
    width: 50vw;
    height: 100vh;
  }
}

.header__container {
  padding: 2rem;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__container img {
  width: 11rem;
  max-width: 100%;
}
@media screen and (max-height: 700px) {
  .header__container img {
    width: 8rem;
  }
}
@media screen and (min-width: 769px) {
  .header__container {
    padding: 2rem;
    position: relative;
    top: 4rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .header__container img {
    width: 16rem;
  }
}

.header__text {
  margin-top: 2rem;
  width: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo__login {
  position: relative;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  position: relative;
}
@media screen and (min-width: 0px) {
  .login__container {
    width: 100vw;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 576px) {
  .login__container {
    width: 80vw;
    min-width: 60%;
    max-width: 80%;
  }
}
@media screen and (min-width: 769px) {
  .login__container {
    padding: 0;
    width: 50vw;
  }
}

.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 0px) {
  .login__header {
    width: 100vw;
    min-width: 90%;
    max-width: 90%;
  }
}
@media screen and (min-width: 576px) {
  .login__header {
    width: 80vw;
    min-width: 60%;
    max-width: 80%;
  }
}
@media screen and (min-width: 769px) {
  .login__header {
    padding: 0;
    margin: 0;
    width: 50vw;
    min-width: 18rem;
  }
  .login__header {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
  .login__header .login__title {
    align-self: flex-start;
    text-align: left;
  }
  .login__header .login__text {
    align-self: flex-start;
    text-align: left;
  }
}

.login__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__main .forget {
  text-align: end;
}
.login__main .check__area:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media screen and (min-width: 0px) {
  .login__main {
    width: 90vw;
    min-width: 90%;
    max-width: 100%;
  }
  .login__main .field__style {
    width: 90vw;
    min-width: 90%;
    max-width: 100%;
  }
  .login__main .submit {
    width: 90vw;
    min-width: 90%;
    max-width: 100%;
  }
  .login__main .forget {
    width: 90vw;
    min-width: 90%;
    max-width: 100%;
  }
  .login__main .check__area {
    align-self: flex-start;
    width: 90vw;
    min-width: 14.3rem;
    max-width: 14.3rem;
  }
}
@media screen and (min-width: 576px) {
  .login__main {
    width: 80vw;
    min-width: 60%;
    max-width: 100%;
  }
  .login__main .field__style {
    width: 80vw;
    min-width: 60%;
    max-width: 100%;
  }
  .login__main .forget {
    width: 80vw;
    min-width: 60%;
    max-width: 100%;
  }
  .login__main .submit {
    width: 80vw;
    min-width: 60%;
    max-width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .login__main {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
  .login__main > label {
    width: 18rem;
  }
  .login__main .field__style {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
  .login__main .password__container {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
  .login__main .submit {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
}

.login__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
@media screen and (min-width: 0px) {
  .login__footer {
    width: 90vw;
    min-width: 90%;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .login__footer {
    width: 80vw;
    min-width: 60%;
    max-width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .login__footer {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
}

.logo__container__confirmEmail {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__confirmEmail {
  align-self: center;
  justify-self: center;
  top: 4rem;
}

.form__confirmEmail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  min-width: 20rem;
  max-width: 30rem;
  gap: 3rem;
  position: relative;
  top: 4rem;
}

.confirmEmail__label {
  width: 30vw;
  min-width: 20rem;
  max-width: 30rem;
}
.confirmEmail__input {
  width: 30vw;
  min-width: 20rem;
  max-width: 30rem;
}
.confirmEmail__link {
  align-self: flex-start;
}
.confirmEmail__btn {
  width: 30vw;
  min-width: 20rem;
  max-width: 30rem;
  position: relative;
  top: -1rem;
}

.content-login-createAcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  position: relative;
}

.logo__create {
  position: relative;
}

.createAcc__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.createAcc__container .createAcc__header {
  width: 100%;
  min-width: 18rem;
  max-width: 28rem;
}
.createAcc__container .createAcc__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  margin: 0.5rem;
  min-width: 18rem;
  max-width: 40rem;
  padding: 0.3rem;
}

.close-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}
.close-inputs-tel {
  width: 90%;
}
.close-inputs-cpf {
  width: 100%;
}

.createAcc__label {
  width: 100%;
  min-width: 17rem;
  max-width: 30rem;
  align-self: flex-start;
}
.createAcc__input {
  align-self: flex-start;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .createAcc__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .createAcc__header {
    width: 70vw;
    min-width: 18rem;
    max-width: 30rem;
  }
  .createAcc__label {
    width: 100%;
    min-width: 17rem;
    max-width: 30rem;
    align-self: flex-start;
  }
  .createAcc__input {
    align-self: flex-start;
    width: 100%;
  }
}

.logo__container__newPass {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__newPass {
  align-self: center;
  justify-self: center;
  top: 4rem;
}

.form__newPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52vw;
  min-width: 20rem;
  max-width: 30rem;
  position: relative;
  gap: 1rem;
  top: 4rem;
}

.newPass__text {
  width: 100%;
  min-width: 16.5rem;
  max-width: 30rem;
}
.newPass__label {
  width: 96%;
  min-width: 20rem;
  max-width: 30rem;
}
.newPass__input {
  width: 100%;
  min-width: 20rem;
  max-width: 30rem;
}
.newPass__link {
  width: 96%;
  min-width: 16.5rem;
  max-width: 30rem;
  justify-self: flex-start;
}
.newPass__btn {
  width: 96%;
  min-width: 20rem;
  max-width: 30rem;
  position: relative;
  top: -1rem;
}

.content-login-typecode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__container__typeCode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo__container__typeCode .login__logo.typeCode__img {
  width: 20rem;
}

.typeCode__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 56vw;
  min-width: 18rem;
  max-width: 35rem;
  gap: 0.5rem;
  position: relative;
  top: 1rem;
}
.typeCode__title {
  width: 52vw;
  min-width: 16.5rem;
  max-width: 30rem;
}
.typeCode__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 52vw;
  min-width: 16.5rem;
  max-width: 30rem;
}
.typeCode__container .typeCode__input {
  margin: 0.2rem;
  width: 2rem;
  height: 2.8rem;
  aspect-ratio: 1/2;
  background-color: var(--bg-color-typeCode);
}
.typeCode__paragraph {
  width: 52vw;
  min-width: 16.5rem;
  max-width: 30rem;
}
.typeCode__button {
  width: 52vw;
  min-width: 16.5rem;
  max-width: 30rem;
}
.typeCode__link {
  width: 52vw;
  min-width: 16.5rem;
  max-width: 30rem;
  justify-self: flex-start;
}

/*# sourceMappingURL=main.css.map */
