@use '../abstracts/' as *;
@use '../at-rule/' as *;


.logo__login {
    position: relative
}

.login__container {
    @include displayFlex(column, center, center);
    padding-bottom: 3rem;
    position: relative;
}

.login__header {
    @include displayFlex(column, center, center);
}

.login__main {
    @include displayFlex(column, center, center);

    .forget__container {
        text-align: end;
    }

    .check__area:hover {
        cursor: pointer;
        opacity: .8;
    }
}

.login__footer {
    @include displayFlex(column, flex-start, flex-start);
    gap: .5rem;
}

// Resposividade 

.login__container {
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(100vw, 90%, 90%);
    }

    @include media-break-min-width(small) {
        @include mobileLoginWidth(80vw, 60%, 80%);
    }

    @include media-break-min-width(medium) {
        grid-area: main;
        padding: 1rem;
        @include mobileLoginWidth(50vw, 23rem, 80%);
    }

    @include media-break-min-width(xxlarge) {
        @include desktopLoginWidth(50vw, 35rem, 50%);
    }
}

.login__header {
    @include displayFlex(column, center, center);

    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(100vw, 90%, 90%);
    }

    @include media-break-min-width(small) {
        @include mobileLoginWidth(80vw, 60%, 80%);
    }

    @include media-break-min-width(medium) {
        @include desktopLoginWidth(50vw, 20rem, 100%);
        padding: 0;
        margin: 0;

        .login__title {
            align-self: flex-start;
            text-align: left;
        }

        .login__text {
            align-self: flex-start;
            text-align: left;
        }

    }
}

.login__main {
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(90vw, 90%, 100%);

        .field__style {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .submit {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .forget__container {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .check__area {
            align-self: flex-start;
            @include mobileLoginWidth(90vw, 14.3rem, 14.3rem);
        }

    }

    @include media-break-min-width(small) {
        @include mobileLoginWidth(80vw, 60%, 100%);

        .field__style {
            @include mobileLoginWidth(80vw, 60%, 100%);
        }

        .forget__container {
            @include mobileLoginWidth(80vw, 60%, 100%);
        }

        .submit {
            @include mobileLoginWidth(80vw, 60%, 100%);
        }

    }

    @include media-break-min-width(medium) {
        @include desktopLoginWidth(50vw, 20rem, 100%);

        .field__style {
            @include desktopLoginWidth(50vw, 20rem, 100%);
        }

        .password__container {
            @include desktopLoginWidth(50vw, 20rem, 100%)
        }

        .submit {
            @include desktopLoginWidth(50vw, 20rem, 100%);
        }

    }
}

.login__footer {
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(90vw, 90%, 100%);
    }

    @include media-break-min-width(small) {
        @include mobileLoginWidth(80vw, 60%, 100%);
    }

    @include media-break-min-width(medium) {
        @include desktopLoginWidth(50vw, 20rem, 100%);
    }
}