@use '../abstracts' as *;
@use '../at-rule/' as *;

.createAcc__container {
    @include displayFlex(column, center, center);
    grid-area: main;
}

.createAcc__header {
    @include displayFlex(column, center, $align: normal);
    gap: 1rem;
}

.createAcc__main {
    @include displayFlex(column, center, center);
    padding: .3rem;
    gap: 1rem;

    .createAc__label {
        align-self: flex-start;
    }

    .close-inputs {
        @include displayFlex(row, center, center);
        gap: 1rem;
    }

    .createAc__input {
        align-self: flex-start;
        width: 100%;
    }
}

//Responsividade 

#login-createAcc {
    @include media-break-min-width(xsmall) {
        grid-template-rows: 15% 10% 75%;
        grid-template-areas:
            "topLeft topRight"
            "mid mid"
            "main main";

        .link__logo {
            margin: 0 2.5rem 2.5rem 0; 
            align-self: flex-end;
        }
    }

    @include media-break-min-width(medium) {
        .link__logo {
            margin-right: 3rem;
            justify-self: flex-end;
            grid-area: mid;
        }
    }

    @media screen and (max-height: 855px){
        .link__logo {
            margin: 0 1rem 1rem 0; 
        }
    }
}

.createAcc__container {
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(85vw, 85%, 100%);
        gap: .5rem
    }

    @include media-break-min-width(small) {
        @include mobileLoginWidth(85vw, 70%, 70%);
        margin-bottom: 3rem;
    }

    @include media-break-min-width(xlarge) {
        @include desktopLoginWidth(50vw, 20rem, 80%);
    }

    @include media-break-min-width(xxlarge) {
        @include desktopLoginWidth(50vw, 20rem, 34.75rem);
        margin-bottom: 3rem;
    }

     @media screen and (max-height: 855px){
        height: 65%;
        max-height: 70vh;
        margin: 0;
    }
}

.createAcc__header {
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(70vw, 70%, 100%);

        .createAcc__title {
            width: 100%;
        }

        .createAcc__text {
            width: 100%;
        }
    }
}

.createAcc__main {
    // border: 2px solid red;
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(90vw, 90%, 100%);

        .createAcc__label {
            @include mobileLoginWidth(100vw, 100%, 100%);
        }

        .createAcc__input {
            @include mobileLoginWidth(100vw, 100%, 100%);
        }

        .close-inputs {
            @include mobileLoginWidth(100vw, 100%, 100%);
            flex-direction: column;
            gap: 1.9rem;
        }

        .close-inputs__label {
            width: 100%;

            & .close-inputs-tel {
                @include mobileLoginWidth(100%, 90%, 100%);
            }

            & .close-inputs-cpf {
                @extend .close-inputs-tel;
            }
        }
    }

    @include media-break-min-width(small) {
        .close-inputs {
            flex-direction: row;
        }
    }

    @media screen and (max-height: 855px) and (min-width: 769px){
        @include displayFlex(column, center, center);
        height: 45vh;
        overflow: auto;
        padding: 14.5rem .5rem .2rem ;
    }

    @media screen and (max-height: 855px) and (min-width: 992px){
        padding: 14.5rem .5rem 1.7rem ;
        
    }
}