@use '../abstracts' as *;
@use '../at-rule/' as *;

.logo__container__typeCode {
    @include displayFlex(row, center, center);


    .typeCode__img {
        width: 20rem;

        @include media-break-min-width(medium) {
            & {
                width: 12rem;
            }
        }
    }
}

.typeCode__main {
    @include displayFlex(column, center, center);
    @include mobileLoginWidth(56vw, 18rem, 35rem);
    grid-area: main;
    gap: .5rem;
    position: relative;
    top: 1rem;

    .typeCode__title {
        @include mobileLoginWidth($width: 52vw, $min-width: 16.5rem);
    }


    .typeCode__container {
        @include displayFlex(row, center, center);
        @include mobileLoginWidth($width: 52vw, $min-width: 16.5rem);

        .typeCode__input {
            margin: .2rem;
            width: 2rem;
            height: 2.8rem;
            aspect-ratio: 1/2;
            background-color: var(--bg-color-typeCode);
        }
    }

    .typeCode__paragraph {
        @include mobileLoginWidth($width: 52vw, $min-width: 16.5rem);
    }

    .typeCode__button {
        @include mobileLoginWidth($width: 52vw, $min-width: 16.5rem);
    }

    .typeCode__link {
        @include mobileLoginWidth($width: 52vw, $min-width: 16.5rem);
        justify-self: flex-start;
    }
}