@use '../abstracts' as *;
@use '../at-rule/' as *;

.logo__container__typeCode {
    @include displayFlex(row, center, center);

    @media screen and (max-height: 855px){
        margin-top: 2rem;
    }
}

.typeCode__main {
    @include displayFlex(column, center, center);
    grid-area: main;
    gap: .5rem;

    .typeCode__container {
        @include displayFlex(row, center, center);

        .typeCode__input {
            margin: .2rem;
            width: 2rem;
            height: 2.8rem;
            aspect-ratio: 1/2;
            background-color: var(--bg-color-typeCode);
        }
    }

    .typeCode__link {
        justify-self: flex-start;
    }
}

//Responsividade 

.typeCode__main {
    @include media-break-min-width(xsmall) {
        @include mobileLoginWidth(70vw, 70%, 100%);

        .typeCode__title {
            text-align: center;
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__container {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__paragraph {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__button {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__link {
            @include mobileLoginWidth(90vw, 90%, 100%);
        }

    }

    @include media-break-min-width(small) {
        @include desktopLoginWidth(65vw, 65%, 65%)
    }

    @include media-break-min-width(medium) {
        @include desktopLoginWidth(50vw, 20rem, 85%);

        .typeCode__title {
            text-align: center;
            @include desktopLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__container {
            @include desktopLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__paragraph {
            @include desktopLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__button {
            @include desktopLoginWidth(90vw, 90%, 100%);
        }

        .typeCode__link {
            @include desktopLoginWidth(90vw, 90%, 100%);
        }

    }

    @include media-break-min-width(xlarge) {
        @include desktopLoginWidth(50vw, 20rem, 80%);
    }

    @include media-break-min-width(xxlarge) {
        @include desktopLoginWidth(50vw, 20rem, 34.75rem);
    }
}