<div class="header__login">
    <div class="header__container">
        <img src="./src/assets/img/megafone_Icon.png" alt="Ícone megafone saindo redes sociais">
        <div class="header__text">
            <div class="header__title">
                <p>CAMPLY</p>
                <p>Virtual Campaign Management</p>
            </div>
            <div class="header__subtitle">
                <p>
                    Gerencie suas camapnhas de forma simples, rápida e fácil!
                </p>
            </div>
        </div>
    </div>
</div>