@use '../abstracts' as *;
@use 'sass:map';

@mixin media-break-min-width($breakpoint) {
  $width: map.get($breakpoints, $breakpoint);

  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin media-break-min-height($breakpoint) {
  $height: map.get($breakpoints, $breakpoint);

  @media screen and (min-height: $height) {
    @content;
  }
}

// displays
@mixin displayFlex($direction: null, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Responsividade
@mixin mobileLoginWidth($width: 30vw, $min-width: 20rem, $max-width: 30rem) {
  width: $width;
  min-width: $min-width;
  max-width: $max-width;
}

@mixin desktopLoginWidth($width: 70vw, $min-width: 18rem, $max-width: 30rem) {
  width: $width;
  min-width: $min-width;
  max-width: $max-width;
}