@use '../abstracts' as *;
@use '../at-rule' as *;

//               loginLayoutMobile
.header__login {
    width: 100vw;
    max-width: 100%;
    height: 35vh;
    padding: 2rem;
    z-index: -2;

    background-image: url(../img/img-bg-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;

    @include displayFlex(row, center, center);

    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100vw;
        max-width: 100%;
        height: 35vh;
        opacity: .75;
        background: var(--bg-linear-login);
    }

    @media screen and (max-height: 550px) {
        display: none;
    }


    //              loginLayoutDesktop
    @include media-break-min-width(medium) {
        width: 50vw; // + width (.login__container) = 100vw
        height: 100vh;
        color: white;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;

        flex-direction: column;

        &::before {
            width: 50vw; // mesmo tamanho do elemento pai
            height: 100vh;
        }
    }

    @include media-break-min-width(xxlarge) {
        width: 40vw;

        &::before {
            width: 40vw;
        }
    }

}

.header__container {
    padding: 2rem;
    z-index: 4;
    @include displayFlex(row, center, center);

    img {
        width: 11rem;
        max-width: 100%;
    }

    @media screen and (max-height: 700px) {
        img {
            width: 8rem;
        }
    }

    @include media-break-min-width(medium) {
        width: 50vw;
        @include displayFlex(column, center, center);
        gap: 5rem;

        img {
            width: 16rem;
        }
    }

    @include media-break-min-width(xxlarge) {
        gap: 10rem;
        width: 40vw;
    }
}

//          desktop
.header__text {
    margin-top: 2rem;
    width: 21rem;

    @include displayFlex(column, center, center);
    gap: 2rem;

    @include media-break-min-width(medium) {
        @include desktopLoginWidth(100vw, 50%, 100%);
    }
}